@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --text-2xs: 0.625rem;
  --text-3xs: 0.5rem;
  --text-4xs: 0.375rem;
  --color-complete: var(--complete);
  --color-complete-foreground: var(--complete-foreground);
  --color-incomplete: var(--incomplete);
  --color-incomplete-foreground: var(--incomplete-foreground);
  --color-unstarted: var(--unstarted);
  --color-unstarted-foreground: var(--unstarted-foreground);
  --color-active-textinput: var(--active-textinput);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --animate-collapsible-down: collapsible-down 0.2s ease-out;
  --animate-collapsible-up: collapsible-up 0.2s ease-out;

  @keyframes collapsible-down {
    from {
      max-height: 0;
      opacity: 0;
    }
    to {
      max-height: var(--radix-collapsible-content-height);
      opacity: 1;
    }
  }

  @keyframes collapsible-up {
    from {
      max-height: var(--radix-collapsible-content-height);
      opacity: 1;
    }
    to {
      max-height: 0;
      opacity: 0;
    }
  }
}

:root {
  --radius: 0.625rem;
  --background: #e2dbc8;
  --foreground: oklch(0.13 0.028 261.692);
  --card: #f9f3eb;
  --card-foreground: oklch(0.13 0.028 261.692);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.13 0.028 261.692);
  --primary: #d9c2a6;
  --primary-foreground: #2e1a02;
  --secondary: #fafafa;
  --secondary-foreground: #171717;
  --muted: #f5f5f5;
  --muted-foreground: #737373;
  --accent: #fcc1a6;
  --accent-foreground: #290d00;
  --destructive: #e40014;
  --destructive-foreground: #fcf3f3;
  --border: #e5e5e5;
  --input: #e5e5e5;
  --sidebar: var(--surface);
  --sidebar-foreground: var(--surface-foreground);
  --sidebar-primary: var(--primary);
  --sidebar-primary-foreground: var(--primary-foreground);
  --sidebar-accent: var(--accent);
  --sidebar-accent-foreground: var(--accent-foreground);
  --sidebar-border: var(--border);
  --surface: #f8f8f8;
  --surface-foreground: var(--foreground);
  --code: var(--surface);
  --code-foreground: var(--surface-foreground);
  --code-highlight: #f2f2f2;
  --code-number: #747474;

  --ring: var(--accent)

  --xy-edge-stroke: var(--primary-foreground);
  --xy-minimap-background-color: var(--secondary);
  --xy-minimap-mask-background-color: #f0f0f099;

  --active-textinput: #fff;
  --complete: var(--color-green-400);
  --complete-foreground: var(--color-green-900);
  --incomplete: var(--color-amber-300);
  --incomplete-foreground: var(--color-amber-900);
  --unstarted: var(--color-red-400);
  --unstarted-foreground: var(--color-red-950);
}

.dark {
  --xy-edge-stroke: var(--primary);
  --xy-minimap-mask-background-color: #333a;
}

.daylight {
  --background: #fbfbfb;
  --foreground: #36414f;
  --card: #f2fcff;
  --card-foreground: oklch(0.13 0.028 261.692);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.13 0.028 261.692);
  --primary: #bce3ee;
  --primary-foreground: #2e1a02;
  --secondary: #f7fdff;
  --secondary-foreground: #171717;
  --muted: #f5f5f5;
  --muted-foreground: #737373;
  --accent: #faee94;
  --accent-foreground: #3f3109;
  --border: #dfe5e7;
  --input: #dfe5e7;
  --surface: #f8f8f8;
  --surface-foreground: var(--foreground);

  --active-textinput: #fff;
}

.campfire {
  --background: #130f0c;
  --foreground: #f4eaea;
  --card: #2b241e;
  --card-foreground: #fff8e3;
  --popover: #281e10;
  --popover-foreground: #fbfaf9;
  --primary: #e9b961;
  --primary-foreground: #171717;
  --secondary: #4b1800;
  --secondary-foreground: #f8f5f2;
  --muted: #46362b;
  --muted-foreground: #e2e0de;
  --accent: #8c3900;
  --accent-foreground: #f5ece5;
  --destructive: #c20003;
  --destructive-foreground: #df2225;
  --border: #ffffff1a;
  --input: #ffffff26;
  --surface: #211b16;
  --surface-foreground: #f5f5f5;
  --selection: #e5e5e5;
  --selection-foreground: #171717;
  --active-textinput: #212121;

  --incomplete: var(--color-yellow-600);
  --incomplete-foreground: var(--color-amber-900);
}

.moonlight {
  --background: #030712;
  --foreground: #e3ecff;
  --card: #051736;
  --card-foreground: #e3e3ff;
  --popover: #101828;
  --popover-foreground: #f9fafb;
  --primary: #cbd9f4;
  --primary-foreground: #171717;
  --secondary: #313e59;
  --secondary-foreground: #fafafa;
  --muted: #1f2738;
  --muted-foreground: #dedee2;
  --accent: #afb6d6;
  --accent-foreground: #0e0e5f;
  --destructive: #c20003;
  --destructive-foreground: #df2225;
  --border: #ffffff1a;
  --input: #ffffff26;
  --surface: #161621;
  --surface-foreground: #f5f5f5;
  --selection: #e5e5e5;
  --selection-foreground: #171717;
  --active-textinput: #212121;

  --incomplete: var(--color-yellow-600);
  --incomplete-foreground: var(--color-amber-900);
}

.demonic {
  --background: #0c0b0b;
  --foreground: #f3eed0;
  --card: #170d0d;
  --card-foreground: #fff8e3;
  --popover: #281e10;
  --popover-foreground: #fbfaf9;
  --primary: #9f1000;
  --primary-foreground: #171717;
  --secondary: #601711;
  --secondary-foreground: #f5ece5;
  --muted: #46362b;
  --muted-foreground: #e2e0de;
  --accent: #f3eed0;
  --accent-foreground: #000000;
  --destructive: #c20003;
  --destructive-foreground: #df2225;
  --border: #ffffff1a;
  --input: #ffffff26;
  --surface: #211b16;
  --surface-foreground: #f5f5f5;
  --selection: #e5e5e5;
  --selection-foreground: #171717;
  --active-textinput: #212121;

  --incomplete: var(--color-yellow-600);
  --incomplete-foreground: var(--color-amber-900);

  --xy-minimap-background-color: var(--primary-foreground);
  --xy-minimap-mask-background-color: #66666666;
}

@font-face {
  font-family: "osrs";
  src: url("../assets/runescape.ttf") format("truetype");
}

@layer base {
  * {
    @apply border-border outline-ring/75;
  }
  body {
    @apply bg-background text-foreground;
  }
  button {
    @apply cursor-pointer;
  }
}

@layer theme {
  .caption {
    @apply text-sm leading-none;
  }
}

@layer components {
  .clipped-container {
    --cutout-size: 12px;

    .clipped {
      @apply rounded-none!;
      padding-right: calc(var(--cutout-size) + 4px);
      padding-left: var(--cutout-size);
      clip-path: polygon(
        0px 0,
        calc(100% - var(--cutout-size)) 0%,
        calc(100% - var(--cutout-size)) 100%,
        0px 100%,
        0px calc(50% + 1.25 * var(--cutout-size)),
        var(--cutout-size) 50%,
        0px calc(50% - 1.25 * var(--cutout-size))
      );
    }

    .arrow {
      clip-path: polygon(0 0, 100% 50%, 0 100%);
      min-width: 0 !important;
      min-height: 0 !important;
      width: calc(var(--cutout-size) - 4px) !important;
      height: calc(2.5 * (var(--cutout-size) - 4px)) !important;
      transform: translate(-0.5px, -50%) !important;
    }
  }
}

@layer utilities {
  .pixelate {
    image-rendering: pixelated;
  }
  .crisp {
    image-rendering: crisp-edges;
  }

  :not(.selected .show-if-selected).show-if-selected {
    @apply -translate-x-1/2 -translate-y-full opacity-0 scale-0 max-h-0;
  }
  .show-if-selected {
    @apply transition-all scale-100 opacity-100 max-h-dvh;
  }

  .strikethrough {
    content: "";

    display: inline;
    background: linear-gradient(currentColor, currentColor) left 50% no-repeat;
    background-size: 0% 1px;

    transition: background-size 0.2s ease;
  }

  .anim-strikethrough {
    background-size: 100% 1px;
  }
}
